/* font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif; */
.root {
  --heading-font-family: "Red Hat display", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: lighter;
  margin: 0;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
